<app-data-table
  [columns]="columns"
  [rows]="rows()"
  [loading]="loading()"
  [totalCount]="pagination().total"
  [pageIndex]="pagination().page - 1"
  [pageSize]="pagination().limit"
  (pageChange)="pageChange.emit($event)"
  (sortChange)="sortChange.emit($event)"
>
  <ng-template appDataTableCell="roles" let-row>
    <mat-chip-set>
      @for (role of row.roles; track role) {
        <mat-chip>{{ role }}</mat-chip>
      }
    </mat-chip-set>
  </ng-template>

  <ng-template appDataTableCell="createdAt" let-row>
    {{ row.createdAt | date: 'mediumDate' }}
  </ng-template>
</app-data-table>
